body {
  text-align: center;
  background-color: #121212;
}
h1{
  font-family: 'Fredericka the Great', cursive;
  font-size: 6rem;
  margin:  5%;
  color: #F0A500;
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  8% 0 3% 0;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: #990000;
  opacity: 0.8;
}
.btn {
  background-size: cover;
  background-position: center;
}
.red {
  background-color: #AC0D0D;
  background-image:url("images/fire-element.png");
}

.green {
  background-color: green;
  background-image: url("images/earth-element.png");
  background-size: fill;
}

.blue {
  background-color: #00D7FF;
  background-image: url("images/water-element.png");
}

.yellow {
  background-color: #F0A500;
  background-image: url("images/air-element.png");
}

.pressed {
  box-shadow: 0 0 20px lightyellow;
  background-color: lightyellow;
}
